[flake8]
max-line-length = 200
ignore =
    F401,
    E265,
    E266,
    E305,
    E722,
    W503,
    W504
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
max-complexity = 10
# output-file = src\test\flake8_run.txt
